<div class="register-container">
  <mat-card class="register-card">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 class="register-title">הירשם עכשיו!</h1>

      <!-- שם מלא -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>שם מלא</mat-label>
        <input matInput placeholder="הכנס שם מלא" formControlName="name" />
      </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors">
        <mat-error *ngFor="let error of registerForm.get('name')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">שם מלא הוא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'email'">אימייל לא תקין</ng-container>
        </mat-error>
      </div>

      <!-- אימייל -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>אימייל</mat-label>
        <input matInput placeholder="הכנס אימייל" formControlName="email" />
      </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors">
        <mat-error *ngFor="let error of registerForm.get('email')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">אימייל הוא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'email'">אימייל לא תקין</ng-container>
        </mat-error>
      </div>

      <!-- מספר טלפון -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>מספר טלפון</mat-label>
        <input matInput placeholder="הכנס מספר טלפון" formControlName="phone" />
        <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">מספר טלפון הוא שדה חובה</mat-error>
        <mat-error *ngIf="registerForm.get('phone')?.hasError('pattern')">מספר טלפון לא תקין</mat-error>
      </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.errors">
        <mat-error *ngFor="let error of registerForm.get('phone')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">מספר טלפון הוא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'pattern'">מספר טלפון לא תקין</ng-container>
        </mat-error>
      </div>

      <!-- תעודת זהות -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>תעודת זהות</mat-label>
        <input matInput placeholder="הכנס תעודת זהות" formControlName="idNumber" />
      </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('idNumber')?.touched && registerForm.get('idNumber')?.errors">
        <mat-error *ngFor="let error of registerForm.get('idNumber')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">תעודת זהות היא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'matDatepickerParse'">תעודת זהות חייבת להיות 9 ספרות</ng-container>
        </mat-error>
      </div>

      <!-- תאריך לידה -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>תאריך לידה</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" [max]="today"  />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('dob')?.touched && registerForm.get('dob')?.errors">
        <mat-error *ngFor="let error of registerForm.get('dob')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">תאריך לידה הוא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'matDatepickerParse'">יש לבחור תאריך תקין</ng-container>
        </mat-error>
      </div>

       <!-- סיסמה -->
       <mat-form-field appearance="fill" class="input-field">
        <mat-label>סיסמה</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="הכנס סיסמה" formControlName="password" />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </mat-form-field>
      <!-- <div class="errors" *ngIf="registerForm.get('password')?.touched &&  registerForm.get('password')?.errors">
        <mat-error *ngIf="registerForm.get('password')?.hasError('required')">סיסמה היא שדה חובה</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordLength')">סיסמה חייבת להיות באורך של 8 עד 20 תווים</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordLowerCase')">סיסמה חייבת להכיל לפחות אות קטנה באנגלית</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordUpperCase')">סיסמה חייבת להכיל לפחות אות גדולה באנגלית</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordDigit')">סיסמה חייבת להכיל לפחות ספרה</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordSpecialChar')">סיסמה חייבת להכיל לפחות סימן מיוחד</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.hasError('passwordWhitespace')">סיסמה אינה יכולה להכיל רווחים</mat-error>
      </div> -->
      <div class="errors" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
        <mat-error *ngFor="let error of registerForm.get('password')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">סיסמה היא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'passwordLength'">סיסמה חייבת להיות בין 8 ל-20 תווים</ng-container>
          <ng-container *ngIf="error.key === 'passwordLowerCase'">סיסמה חייבת להכיל לפחות אות קטנה באנגלית</ng-container>
          <ng-container *ngIf="error.key === 'passwordUpperCase'">סיסמה חייבת להכיל לפחות אות גדולה באנגלית</ng-container>
          <ng-container *ngIf="error.key === 'passwordDigit'">סיסמה חייבת להכיל לפחות ספרה</ng-container>
          <ng-container *ngIf="error.key === 'passwordSpecialChar'">סיסמה חייבת להכיל לפחות סימן מיוחד</ng-container>
          <ng-container *ngIf="error.key === 'passwordWhitespace'">סיסמה אינה יכולה להכיל רווחים</ng-container>
        </mat-error>
      </div>

      <!-- ווידוי סיסמה -->
      <mat-form-field appearance="fill" class="input-field">
        <mat-label>וידוי סיסמה</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="אשר סיסמה" formControlName="confirmPassword" />
        <mat-icon matSuffix (click)="togglePasswordVisibility()">
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
     </mat-form-field>
      <div class="errors" *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors">
        <mat-error *ngFor="let error of registerForm.get('confirmPassword')?.errors | keyvalue; let i = index"
                    [ngStyle]="{ '--index': i + 1 }">
          <!-- הצגת השגיאות -->
          <ng-container *ngIf="error.key === 'required'">וידוי סיסמה הוא שדה חובה</ng-container>
          <ng-container *ngIf="error.key === 'passwordMismatch'">הסיסמה לא תואמת</ng-container>
        </mat-error>
      </div>

      <button mat-raised-button color="primary" class="register-button" [disabled]="!registerForm.invalid">הרשמה</button>

      <!-- <div>
        <h4>Form Errors (JSON):</h4>
        <pre>{{ formErrors }}</pre>
      </div> -->

    </form>
  </mat-card>

  <div class="image-container">
    <img src="assets/images/signUp.gif" alt="Sign Up" />
  </div>
</div>
