<div class="policyContainer">
  <div class="header">
    <h1 class="desc">מדיניות פרטיות</h1>
    <p class="lastUpdated">עודכן לאחרונה: דצמבר 2024</p>
  </div>

  <div class="sections">
    <div *ngFor="let section of sections" class="section">
      <div class="sectionHeader">
        <mat-icon class="sectionIcon">security</mat-icon>
        <h2 class="sectionSubHeader">{{section.title}}</h2>
      </div>
      <mat-divider class="sectionDivider"></mat-divider>
      <p class="content" [innerHTML]="section.content"></p>
    </div>
  </div>

  <div class="backHome">
    <button class="homeButton" [routerLink]="['/']">
      <mat-icon class="homeIcon">home</mat-icon>
      <span class="homeSpan">חזרה לעמוד הבית</span>
    </button>
  </div>

  <div class="footer">
    <p>לשאלות ובירורים נוספים, אנא צרו קשר במייל עם - danielamosdev&#64;gmail.com</p>
  </div>
</div>
