<app-kind-load-data
  [kind]="kindLoadData"
  [successTemplate]="successTemplate"
></app-kind-load-data>

<ng-template #successTemplate>
  <div *ngFor="let user of managerEmployeeData" class="card my-3">
  <div class="card-body">
    <h5 class="card-title">מזהה: {{ user.id }}</h5>
    <h5 class="card-title">שם: {{ user.name + ' ' + user.username }}</h5>
    <p class="card-text">אימייל: {{ user.email }}</p>
    <p class="card-text">טלפון: {{ user.phone }}</p>
    <p class="card-text">כתובת: {{ user.address.street }}, {{ user.address.city }}</p>
    <p class="card-text">חברה: {{ user.company.name + ' ' + user.company.bs  }}</p>
    <p class="card-text">תיאור: {{ user.company.catchPhrase}}</p>
  </div>
</div>
  <div>
    <h3>פרטים אישיים:</h3>

    <!-- <p>שם מלא: {{ managerEmployeeData[0]?.fullName }}</p>
    <p>אימייל: {{ managerEmployeeData[0]?.email }}</p>
    <p>טלפון: {{ managerEmployeeData[0]?.phone }}</p>
    <p>נוצר בתאריך: {{ managerEmployeeData[0]?.created }}</p>
    <p>מנהל: {{ managerEmployeeData[0]?.managerFullName }}</p> -->

  </div>
  <!-- <div *ngIf="isAuthenticated">
    <h3>פרטי מנהל:</h3>
    <p>תפקיד: {{ managerEmployeeData[0]?.role }}</p>
    <p>מחלקה: {{ managerEmployeeData[0]?.department }}</p>
    <p>התחלה: {{ managerEmployeeData[0]?.start }}</p>
  </div> -->
</ng-template>
